@use '../../styles/variables' as *;

.main {
  flex: 1;
}

.bg-dark {
  padding-top: 3rem;
  background-color: $dark-color;
}

.login {
  &__content {
    box-sizing: border-box;
    background-color: $light-color;
    width: 300px;
    margin: 0 auto;
    padding: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__icon {
    font-size: 5rem;
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;

    label {
      font-weight: bold;
    }

    input {
      padding: 5px;
      font-size: 1.2rem;
    }
  }

  &__remember {
    display: flex;

    label {
      margin-left: 0.25rem;
    }
  }

  &__button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    border-color: $primary-color;
    background-color: $primary-color;
    color: $light-color;
  }
}
